@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-orange: theme('colors.brand.orange');
  --color-green-100: theme('colors.brand.green.100');
  --color-green-200: theme('colors.brand.green.200');
  --color-green-300: theme('colors.brand.green.300');
  --color-green-400: theme('colors.brand.green.400');
  --color-green-500: theme('colors.brand.green.500');
  --color-green-600: theme('colors.brand.green.600');
  --color-green-900: theme('colors.brand.green.900');
}

body {
  @apply bg-brand-green-900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
